.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
 
}

button{
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #6a60a3;
  color: #fff;
  font-weight: 100;
  box-shadow: 0.25em 0.25em 0.75em rgb(0,0,0.25);
  width: 360px;
  margin-top: 30px;
}

table{
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

td{
  border: 0;
  padding: 50px 20px;
  margin: 0 2px;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 15px;
  background-color: #b2aec7;
  color: #fff;
  font-weight: 100;
  /* box-shadow: 0.25em 0.25em 0.75em rgb(0,0,0.25); */
}

.header{
  width: 100%;
  border: 0;
  padding: 50px ;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 25px;
  cursor: pointer;
  background-color: #6a60a3;
  color: #fff;
  text-align: center;
  /* box-shadow: 0.25em 0.25em 0.75em rgb(0,0,0.25); */
}

.qr{
  border: 0;
  /* padding: 8px 20px; */
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #6a60a3;
  color: #fff;
  font-weight: 100;
  box-shadow: 0.25em 0.25em 0.75em rgb(0,0,0.25);
  width: 600px;
  height: 500px;
  margin-left: 365px;
}

.inqr{
  margin-left: 90px;
  margin-top: 30px;
}
